*{
    margin:0;
    padding:0;
    font-family: poppins;
    box-sizing: border-box;
}
body{
    background-color: #1e113b;
    color: #fff;
}
.container{
    margin:12%;
    width: 90%;
    max-width: 700px;
}